ktor {
    deployment {
        port = 8080
        host = "0.0.0.0"
    }
}

database {
    url = "jdbc:postgresql://localhost:5433/zentrack_db"
    driver = "org.postgresql.Driver"
    user = "your_user"
    password = "your_password"
    maxPoolSize = 10
}

jwt {
    secret = "your-secret-min-32-chars-change-in-production"
    issuer = "zentrack"
    audience = "zentrack-users"
    realm = "ZenTrack API"
    expirationMs = 86400000
}
